In [67]:
# Necessary packages
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [68]:
# 2023 Data
# Scraping data from Barttorvik
url = 'https://barttorvik.com/trank.php?year=2023&sort=&top=0&conlimit=All#'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table')

# Process the table data
if table:
    rows = table.find_all('tr')

    data = []
    headers = []
    for row in rows:
        columns = row.find_all(['th', 'td'])
        row_data = []
        for i, col in enumerate(columns):
            row_data.append(col.get_text())
            if len(headers) < len(columns):  # Handle missing headers
                headers.append(f'Column {i + 1}')
        data.append(row_data)

    # Convert data into a DataFrame
    df_2023 = pd.DataFrame(data)
    # Set headers if available
    if headers:
        df_2023.columns = headers
        
# Making the proper row the column names
df_2023.columns = df_2023.iloc[1]
df_2023 = df_2023.iloc[2:].reset_index(drop=True)

# Getting rid of rows that have the column names
first_two_columns = df_2023.columns[:2]
df_2023 = df_2023[~(df_2023[first_two_columns].astype(str) == df_2023.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_2023['Season'] = '22-23'

In [69]:
# 2022 Data
# Scraping data from Barttorvik
url = 'https://barttorvik.com/trank.php?year=2022&sort=&top=0&conlimit=All#'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table')

# Process the table data
if table:
    rows = table.find_all('tr')

    data = []
    headers = []
    for row in rows:
        columns = row.find_all(['th', 'td'])
        row_data = []
        for i, col in enumerate(columns):
            row_data.append(col.get_text())
            if len(headers) < len(columns):  # Handle missing headers
                headers.append(f'Column {i + 1}')
        data.append(row_data)

    # Convert data into a DataFrame
    df_2022 = pd.DataFrame(data)
    # Set headers if available
    if headers:
        df_2022.columns = headers
        
# Making the proper row the column names
df_2022.columns = df_2022.iloc[1]
df_2022 = df_2022.iloc[2:].reset_index(drop=True)

# Getting rid of rows that have the column names
first_two_columns = df_2022.columns[:2]
df_2022 = df_2022[~(df_2022[first_two_columns].astype(str) == df_2022.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_2022['Season'] = '21-22'

In [70]:
# 2021 Data
# Scraping data from Barttorvik
url = 'https://barttorvik.com/trank.php?year=2021&sort=&top=0&conlimit=All#'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table')

# Process the table data
if table:
    rows = table.find_all('tr')

    data = []
    headers = []
    for row in rows:
        columns = row.find_all(['th', 'td'])
        row_data = []
        for i, col in enumerate(columns):
            row_data.append(col.get_text())
            if len(headers) < len(columns):  # Handle missing headers
                headers.append(f'Column {i + 1}')
        data.append(row_data)

    # Convert data into a DataFrame
    df_2021 = pd.DataFrame(data)
    # Set headers if available
    if headers:
        df_2021.columns = headers
        
# Making the proper row the column names
df_2021.columns = df_2021.iloc[1]
df_2021 = df_2021.iloc[2:].reset_index(drop=True)

# Getting rid of rows that have the column names
first_two_columns = df_2021.columns[:2]
df_2021 = df_2021[~(df_2021[first_two_columns].astype(str) == df_2021.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_2021['Season'] = '20-21'

In [71]:
# 2020 Data
# Scraping data from Barttorvik
url = 'https://barttorvik.com/trank.php?year=2020&sort=&top=0&conlimit=All#'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table')

# Process the table data
if table:
    rows = table.find_all('tr')

    data = []
    headers = []
    for row in rows:
        columns = row.find_all(['th', 'td'])
        row_data = []
        for i, col in enumerate(columns):
            row_data.append(col.get_text())
            if len(headers) < len(columns):  # Handle missing headers
                headers.append(f'Column {i + 1}')
        data.append(row_data)

    # Convert data into a DataFrame
    df_2020 = pd.DataFrame(data)
    # Set headers if available
    if headers:
        df_2020.columns = headers
        
# Making the proper row the column names
df_2020.columns = df_2020.iloc[1]
df_2020 = df_2020.iloc[2:].reset_index(drop=True)

# Getting rid of rows that have the column names
first_two_columns = df_2020.columns[:2]
df_2020 = df_2020[~(df_2020[first_two_columns].astype(str) == df_2020.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_2020['Season'] = '19-20'

In [72]:
# 2019 Data
# Scraping data from Barttorvik
url = 'https://barttorvik.com/trank.php?year=2019&sort=&top=0&conlimit=All#'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table')

# Process the table data
if table:
    rows = table.find_all('tr')

    data = []
    headers = []
    for row in rows:
        columns = row.find_all(['th', 'td'])
        row_data = []
        for i, col in enumerate(columns):
            row_data.append(col.get_text())
            if len(headers) < len(columns):  # Handle missing headers
                headers.append(f'Column {i + 1}')
        data.append(row_data)

    # Convert data into a DataFrame
    df_2019 = pd.DataFrame(data)
    # Set headers if available
    if headers:
        df_2019.columns = headers
        
# Making the proper row the column names
df_2019.columns = df_2019.iloc[1]
df_2019 = df_2019.iloc[2:].reset_index(drop=True)

# Getting rid of rows that have the column names
first_two_columns = df_2019.columns[:2]
df_2019 = df_2019[~(df_2019[first_two_columns].astype(str) == df_2019.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_2019['Season'] = '18-19'

In [73]:
# Combining the 5 years of data
df_bart = pd.concat([df_2023, df_2022, df_2021, df_2020, df_2019], ignore_index=True)

In [74]:
# Cleaning the team names
df_bart['Team'] = df_bart['Team'].apply(lambda x: re.sub(r'\d.*', '', x).strip())

In [75]:
# Exctracting total wins from the record column
df_bart['Rec'] = df_bart['Rec'].apply(lambda x: re.search(r'^\d+(?=-)', x).group() if re.search(r'^\d+(?=-)', x) else x)
df_bart.rename(columns={'Rec': 'Wins'}, inplace=True)

In [76]:
# Making a losses column
df_bart['G'] = pd.to_numeric(df_bart['G'])
df_bart['Wins'] = pd.to_numeric(df_bart['Wins'])
df_bart['Losses'] = df_bart['G'] - df_bart['Wins']
columns = list(df_bart.columns)
columns.insert(5, columns.pop(columns.index('Losses')))
df_bart = df_bart[columns]

In [77]:
# Drop the WAB and Adj T columns
df_bart.drop(columns=['WAB'], inplace=True)
df_bart.drop(columns=['Adj T.'], inplace=True)

In [78]:
# Fixing the Barthag column
df_bart['Barthag'] = df_bart['Barthag'].apply(lambda x: re.search(r'\.\d{4}', str(x)).group(0) if re.search(r'\.\d{4}', str(x)) else x)

In [79]:
# Fixing the AdjOE and AdjDE columns
def keep_one_decimal(value):
    return re.sub(r'(\.\d).*', r'\1', str(value))
df_bart['AdjOE'] = df_bart['AdjOE'].apply(keep_one_decimal)
df_bart['AdjDE'] = df_bart['AdjDE'].apply(keep_one_decimal)

In [113]:
# Creating a function to remove incorrect numbers
def keep_two_numbers(value):
    value_str = str(value)
    decimal_index = value_str.find('.')
    
    if decimal_index != -1:
        # If decimal exists, take the first two digits before the decimal and the first non-zero digit after
        before_decimal = value_str[:decimal_index][:2]
        after_decimal = re.search(r'(?<=\.)[1-9]', value_str)
        if after_decimal:
            return f"{before_decimal}.{after_decimal.group()}"
        else:
            return before_decimal
    else:
        # If no decimal, take the first two digits and ignore trailing zeros
        return re.sub(r'(\d{2})0*', r'\1', value_str)

In [ ]:
# Fixing many columns
df_bart['EFG%'] = df_bart['EFG%'].apply(keep_two_numbers)
df_bart['EFGD%'] = df_bart['EFGD%'].apply(keep_two_numbers)
df_bart['TOR'] = df_bart['TOR'].apply(keep_two_numbers)
df_bart['TORD'] = df_bart['TORD'].apply(keep_two_numbers)
df_bart['ORB'] = df_bart['ORB'].apply(keep_two_numbers)
df_bart['DRB'] = df_bart['DRB'].apply(keep_two_numbers)
df_bart['FTR'] = df_bart['FTR'].apply(keep_two_numbers)
df_bart['FTRD'] = df_bart['FTRD'].apply(keep_two_numbers)
df_bart['2P%'] = df_bart['2P%'].apply(keep_two_numbers)
df_bart['2P%D'] = df_bart['2P%D'].apply(keep_two_numbers)
df_bart['3P%'] = df_bart['3P%'].apply(keep_two_numbers)
df_bart['3P%D'] = df_bart['3P%D'].apply(keep_two_numbers)
df_bart['3PR'] = df_bart['3PR'].apply(keep_two_numbers)
df_bart['3PRD'] = df_bart['3PRD'].apply(keep_two_numbers)

In [115]:
# List of columns to convert to float
columns_to_convert = [
    'AdjOE', 'AdjDE', 'Barthag', 'EFG%', 'EFGD%', 'TOR', 'TORD', 'ORB', 'DRB',
    'FTR', 'FTRD', '2P%', '2P%D', '3P%', '3P%D', '3PR', '3PRD'
]

df_bart[columns_to_convert] = df_bart[columns_to_convert].astype(float)

In [116]:
# Displaying first 15 rows of the dataframe
#pd.set_option('display.max_columns', None)
#df_bart.head(15)

,Rk,Team,Conf,G,Wins,Losses,AdjOE,AdjDE,Barthag,EFG%,EFGD%,TOR,TORD,ORB,DRB,FTR,FTRD,2P%,2P%D,3P%,3P%D,3PR,3PRD,Season
0,1,Connecticut,BE,39,31,8,121.5,91.2,0.9643,53.9,44.4,18.9,18.5,38.5,26.1,30.8,37.8,53.6,44.4,36.3,29.7,41.7,30.4,22-23
1,2,Alabama,SEC,37,31,6,116.1,89.0,0.9548,52.1,41.3,18.7,15.8,34.2,27.9,36.6,32.6,53.8,40.8,33.5,28.3,47.2,30.0,22-23
2,3,Houston,Amer,37,33,4,117.3,90.3,0.9532,52.3,42.7,15.4,21.1,37.1,27.7,28.9,35.7,53.1,43.4,34.0,27.9,37.9,43.5,22-23
3,4,UCLA,P12,37,31,6,114.9,88.5,0.9528,51.1,46.8,14.9,23.3,33.0,28.2,27.4,27.5,50.6,46.9,34.9,31.1,29.0,38.8,22-23
4,5,Tennessee,SEC,36,25,11,111.2,87.5,0.9401,49.9,42.8,18.1,22.2,36.4,26.9,30.7,33.8,50.3,45.1,32.8,26.5,40.1,41.8,22-23
5,6,Texas,B12,38,29,9,116.1,91.8,0.9371,53.3,48.1,16.3,22.1,28.3,29.0,30.5,33.7,54.0,47.9,34.7,32.4,34.5,34.8,22-23
6,7,Purdue,B10,35,29,6,117.9,93.7,0.9333,51.8,47.2,17.2,15.4,38.4,23.5,37.2,19.2,54.1,47.2,32.2,31.3,38.4,35.5,22-23
7,8,Arizona,P12,35,28,7,119.4,95.4,0.9292,56.5,47.1,18.4,16.9,30.7,26.1,35.8,25.5,56.4,46.2,37.8,32.3,37.7,38.7,22-23
8,9,Gonzaga,WCC,36,31,5,123.2,99.0,0.9251,57.6,51.4,14.8,17.8,31.2,25.6,34.1,26.0,58.2,50.6,37.5,35.2,32.6,39.0,22-23
9,10,Saint Mary's,WCC,34,27,7,112.1,90.5,0.9213,52.0,47.1,16.4,19.2,32.6,21.9,32.0,29.9,50.8,45.7,36.1,33.3,36.8,32.0,22-23
10,11,San Diego St.,MWC,38,32,6,110.8,89.5,0.9205,49.3,46.5,17.3,19.1,31.6,26.1,33.2,30.2,48.4,49.3,34.0,28.3,33.9,40.0,22-23
11,12,Marquette,BE,36,29,7,118.7,96.0,0.9197,56.0,51.0,15.3,22.5,26.2,31.7,27.0,29.1,58.2,50.3,35.3,34.7,42.0,37.5,22-23
12,13,Creighton,BE,37,24,13,115.0,93.2,0.9177,54.2,47.1,16.6,13.9,25.3,23.5,28.4,19.7,55.1,45.7,35.4,33.6,41.7,29.5,22-23
13,14,Kansas,B12,36,28,8,113.8,92.3,0.9177,52.6,47.0,17.5,20.2,28.7,28.7,29.8,31.1,53.0,47.2,34.7,31.0,33.8,35.3,22-23
14,15,Duke,ACC,36,27,9,113.3,92.9,0.9072,51.1,46.0,18.3,16.5,35.9,26.1,29.9,23.7,51.5,46.2,33.5,30.5,35.3,35.6,22-23

In [117]:
# Save the DataFrame to a CSV file
df_bart.to_csv('CBBdata19-23.csv', index=False)

In [104]:
# Loading dataset from csv
#df_bart = pd.read_csv('CBBdata19-23.csv')

In [254]:
# 2023 Strength of Schedule Data
url = 'https://barttorvik.com/sos.php?year=2023&conlimit=&sort=10'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the table on the webpage
    table = soup.find('table')

    # Extract table data, excluding the first row (assumed to be headers)
    table_data = []
    for row in table.find_all('tr')[1:]:
        row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])][:9]  # Exclude columns beyond index 9
        if row_data:
            table_data.append(row_data)

    # Convert table data to DataFrame
    df_23 = pd.DataFrame(table_data)
    
# Dropping blank columns
df_23 = df_23.drop(columns=0) 

# Fixing the column names
df_23.columns = df_23.iloc[0]

# Getting rid of rows that have the column names
df_23 = df_23[~df_23.apply(lambda row: row.eq("Overall") | row.eq("None")).any(axis=1)]
first_two_columns = df_23.columns[:2]
df_23 = df_23[~(df_23[first_two_columns].astype(str) == df_23.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_23['Season'] = '22-23'

In [255]:
# 2022 Strength of Schedule Data
url = 'https://barttorvik.com/sos.php?year=2022&conlimit=&sort=10'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the table on the webpage
    table = soup.find('table')

    # Extract table data, excluding the first row (assumed to be headers)
    table_data = []
    for row in table.find_all('tr')[1:]:
        row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])][:9]  # Exclude columns beyond index 9
        if row_data:
            table_data.append(row_data)

    # Convert table data to DataFrame
    df_22 = pd.DataFrame(table_data)
    
# Dropping blank columns
df_22 = df_22.drop(columns=0) 

# Fixing the column names
df_22.columns = df_22.iloc[0]

# Getting rid of rows that have the column names
df_22 = df_22[~df_22.apply(lambda row: row.eq("Overall") | row.eq("None")).any(axis=1)]
first_two_columns = df_22.columns[:2]
df_22 = df_22[~(df_22[first_two_columns].astype(str) == df_22.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_22['Season'] = '21-22'

In [256]:
# 2021 Strength of Schedule Data
url = 'https://barttorvik.com/sos.php?year=2021&conlimit=&sort=10'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the table on the webpage
    table = soup.find('table')

    # Extract table data, excluding the first row (assumed to be headers)
    table_data = []
    for row in table.find_all('tr')[1:]:
        row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])][:9]  # Exclude columns beyond index 9
        if row_data:
            table_data.append(row_data)

    # Convert table data to DataFrame
    df_21 = pd.DataFrame(table_data)
    
# Dropping blank columns
df_21 = df_21.drop(columns=0) 

# Fixing the column names
df_21.columns = df_21.iloc[0]

# Getting rid of rows that have the column names
df_21 = df_21[~df_21.apply(lambda row: row.eq("Overall") | row.eq("None")).any(axis=1)]
first_two_columns = df_21.columns[:2]
df_21 = df_21[~(df_21[first_two_columns].astype(str) == df_21.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_21['Season'] = '20-21'

In [257]:
# 2020 Strength of Schedule Data
url = 'https://barttorvik.com/sos.php?year=2020&conlimit=&sort=10'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the table on the webpage
    table = soup.find('table')

    # Extract table data, excluding the first row (assumed to be headers)
    table_data = []
    for row in table.find_all('tr')[1:]:
        row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])][:9]  # Exclude columns beyond index 9
        if row_data:
            table_data.append(row_data)

    # Convert table data to DataFrame
    df_20 = pd.DataFrame(table_data)
    
# Dropping blank columns
df_20 = df_20.drop(columns=0) 

# Fixing the column names
df_20.columns = df_20.iloc[0]

# Getting rid of rows that have the column names
df_20 = df_20[~df_20.apply(lambda row: row.eq("Overall") | row.eq("None")).any(axis=1)]
first_two_columns = df_20.columns[:2]
df_20 = df_20[~(df_20[first_two_columns].astype(str) == df_20.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_20['Season'] = '19-20'

In [258]:
# 2019 Strength of Schedule Data
url = 'https://barttorvik.com/sos.php?year=2023&conlimit=&sort=10'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the table on the webpage
    table = soup.find('table')

    # Extract table data, excluding the first row (assumed to be headers)
    table_data = []
    for row in table.find_all('tr')[1:]:
        row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])][:9]  # Exclude columns beyond index 9
        if row_data:
            table_data.append(row_data)

    # Convert table data to DataFrame
    df_19 = pd.DataFrame(table_data)
    
# Dropping blank columns
df_19 = df_19.drop(columns=0) 

# Fixing the column names
df_19.columns = df_19.iloc[0]

# Getting rid of rows that have the column names
df_19 = df_19[~df_19.apply(lambda row: row.eq("Overall") | row.eq("None")).any(axis=1)]
first_two_columns = df_19.columns[:2]
df_19 = df_19[~(df_19[first_two_columns].astype(str) == df_19.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_19['Season'] = '18-19'

In [259]:
# Combining the 5 years of data
df_sos = pd.concat([df_23, df_22, df_21, df_20, df_19], ignore_index=True)

In [260]:
# Cleaning the team names
df_sos['Team'] = df_sos['Team'].apply(lambda x: re.sub(r'\d.*', '', x).strip())

In [261]:
# Renaming columns to the specified names
df_sos.columns = ['Team', 'Conf', 'NA1', 'NA2', 'NA3', 'Elite', 'Basic', 'SoS', 'Season']

In [262]:
# Drop columns 2-4
df_sos = df_sos.drop(df_sos.columns[[2, 3, 4, 6]], axis=1)

In [263]:
# Remove the percentage sign and convert to decimals
df_sos['Elite'] = df_sos['Elite'].str.replace('%.*', '', regex=True).astype(float) / 100

In [264]:
# Rounding the Strength of Schedule Column
df_sos['SoS'] = df_sos['SoS'].astype(float)
df_sos['SoS'] = df_sos['SoS'].round(3)

In [ ]:
# Displaying the first 15 rows
#df_sos.head(15)

In [266]:
# Merging the two dataframes
merged_df = pd.merge(df_bart, df_sos, on=['Team', 'Conf', 'Season'])

In [267]:
# Displaying the first 15 rows
#merged_df.head(15)

,Rk,Team,Conf,G,Wins,Losses,AdjOE,AdjDE,Barthag,EFG%,EFGD%,TOR,TORD,ORB,DRB,FTR,FTRD,2P%,2P%D,3P%,3P%D,3PR,3PRD,Season,Elite,SoS
0,1,Connecticut,BE,39,31,8,121.5,91.2,0.9643,53.9,44.4,18.9,18.5,38.5,26.1,30.8,37.8,53.6,44.4,36.3,29.7,41.7,30.4,22-23,0.32,0.707
1,2,Alabama,SEC,37,31,6,116.1,89.0,0.9548,52.1,41.3,18.7,15.8,34.2,27.9,36.6,32.6,53.8,40.8,33.5,28.3,47.2,30.0,22-23,0.34,0.739
2,3,Houston,Amer,37,33,4,117.3,90.3,0.9532,52.3,42.7,15.4,21.1,37.1,27.7,28.9,35.7,53.1,43.4,34.0,27.9,37.9,43.5,22-23,0.24,0.624
3,4,UCLA,P12,37,31,6,114.9,88.5,0.9528,51.1,46.8,14.9,23.3,33.0,28.2,27.4,27.5,50.6,46.9,34.9,31.1,29.0,38.8,22-23,0.29,0.696
4,5,Tennessee,SEC,36,25,11,111.2,87.5,0.9401,49.9,42.8,18.1,22.2,36.4,26.9,30.7,33.8,50.3,45.1,32.8,26.5,40.1,41.8,22-23,0.29,0.694
5,6,Texas,B12,38,29,9,116.1,91.8,0.9371,53.3,48.1,16.3,22.1,28.3,29.0,30.5,33.7,54.0,47.9,34.7,32.4,34.5,34.8,22-23,0.35,0.744
6,7,Purdue,B10,35,29,6,117.9,93.7,0.9333,51.8,47.2,17.2,15.4,38.4,23.5,37.2,19.2,54.1,47.2,32.2,31.3,38.4,35.5,22-23,0.30,0.703
7,8,Arizona,P12,35,28,7,119.4,95.4,0.9292,56.5,47.1,18.4,16.9,30.7,26.1,35.8,25.5,56.4,46.2,37.8,32.3,37.7,38.7,22-23,0.29,0.688
8,9,Gonzaga,WCC,36,31,5,123.2,99.0,0.9251,57.6,51.4,14.8,17.8,31.2,25.6,34.1,26.0,58.2,50.6,37.5,35.2,32.6,39.0,22-23,0.29,0.662
9,10,Saint Mary's,WCC,34,27,7,112.1,90.5,0.9213,52.0,47.1,16.4,19.2,32.6,21.9,32.0,29.9,50.8,45.7,36.1,33.3,36.8,32.0,22-23,0.24,0.648
10,11,San Diego St.,MWC,38,32,6,110.8,89.5,0.9205,49.3,46.5,17.3,19.1,31.6,26.1,33.2,30.2,48.4,49.3,34.0,28.3,33.9,40.0,22-23,0.29,0.708
11,12,Marquette,BE,36,29,7,118.7,96.0,0.9197,56.0,51.0,15.3,22.5,26.2,31.7,27.0,29.1,58.2,50.3,35.3,34.7,42.0,37.5,22-23,0.31,0.694
12,13,Creighton,BE,37,24,13,115.0,93.2,0.9177,54.2,47.1,16.6,13.9,25.3,23.5,28.4,19.7,55.1,45.7,35.4,33.6,41.7,29.5,22-23,0.33,0.732
13,14,Kansas,B12,36,28,8,113.8,92.3,0.9177,52.6,47.0,17.5,20.2,28.7,28.7,29.8,31.1,53.0,47.2,34.7,31.0,33.8,35.3,22-23,0.38,0.777
14,15,Duke,ACC,36,27,9,113.3,92.9,0.9072,51.1,46.0,18.3,16.5,35.9,26.1,29.9,23.7,51.5,46.2,33.5,30.5,35.3,35.6,22-23,0.28,0.674

In [268]:
# Saving the DataFrame to a CSV file
merged_df.to_csv('CBBdata19-23.csv', index=False)

In [ ]:
# Loading dataset from csv
#merged_df = pd.read_csv('CBBdata19-23.csv')