In [49]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [50]:
# 2023 Data
# Scraping data from Barttorvik
url = 'https://barttorvik.com/trank.php?year=2023&sort=&top=0&conlimit=All#'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table')

# Process the table data
if table:
    rows = table.find_all('tr')

    data = []
    headers = []
    for row in rows:
        columns = row.find_all(['th', 'td'])
        row_data = []
        for i, col in enumerate(columns):
            row_data.append(col.get_text())
            if len(headers) < len(columns):  # Handle missing headers
                headers.append(f'Column {i + 1}')
        data.append(row_data)

    # Convert data into a DataFrame
    df_2023 = pd.DataFrame(data)
    # Set headers if available
    if headers:
        df_2023.columns = headers
        
# Making the proper row the column names
df_2023.columns = df_2023.iloc[1]
df_2023 = df_2023.iloc[2:].reset_index(drop=True)

# Getting rid of rows that have the column names
first_two_columns = df_2023.columns[:2]
df_2023 = df_2023[~(df_2023[first_two_columns].astype(str) == df_2023.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_2023['Season'] = '22-23'

In [51]:
# 2022 Data
# Scraping data from Barttorvik
url = 'https://barttorvik.com/trank.php?year=2022&sort=&top=0&conlimit=All#'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table')

# Process the table data
if table:
    rows = table.find_all('tr')

    data = []
    headers = []
    for row in rows:
        columns = row.find_all(['th', 'td'])
        row_data = []
        for i, col in enumerate(columns):
            row_data.append(col.get_text())
            if len(headers) < len(columns):  # Handle missing headers
                headers.append(f'Column {i + 1}')
        data.append(row_data)

    # Convert data into a DataFrame
    df_2022 = pd.DataFrame(data)
    # Set headers if available
    if headers:
        df_2022.columns = headers
        
# Making the proper row the column names
df_2022.columns = df_2022.iloc[1]
df_2022 = df_2022.iloc[2:].reset_index(drop=True)

# Getting rid of rows that have the column names
first_two_columns = df_2022.columns[:2]
df_2022 = df_2022[~(df_2022[first_two_columns].astype(str) == df_2022.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_2022['Season'] = '21-22'

In [52]:
# 2021 Data
# Scraping data from Barttorvik
url = 'https://barttorvik.com/trank.php?year=2021&sort=&top=0&conlimit=All#'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table')

# Process the table data
if table:
    rows = table.find_all('tr')

    data = []
    headers = []
    for row in rows:
        columns = row.find_all(['th', 'td'])
        row_data = []
        for i, col in enumerate(columns):
            row_data.append(col.get_text())
            if len(headers) < len(columns):  # Handle missing headers
                headers.append(f'Column {i + 1}')
        data.append(row_data)

    # Convert data into a DataFrame
    df_2021 = pd.DataFrame(data)
    # Set headers if available
    if headers:
        df_2021.columns = headers
        
# Making the proper row the column names
df_2021.columns = df_2021.iloc[1]
df_2021 = df_2021.iloc[2:].reset_index(drop=True)

# Getting rid of rows that have the column names
first_two_columns = df_2021.columns[:2]
df_2021 = df_2021[~(df_2021[first_two_columns].astype(str) == df_2021.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_2021['Season'] = '20-21'

In [53]:
# 2020 Data
# Scraping data from Barttorvik
url = 'https://barttorvik.com/trank.php?year=2020&sort=&top=0&conlimit=All#'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table')

# Process the table data
if table:
    rows = table.find_all('tr')

    data = []
    headers = []
    for row in rows:
        columns = row.find_all(['th', 'td'])
        row_data = []
        for i, col in enumerate(columns):
            row_data.append(col.get_text())
            if len(headers) < len(columns):  # Handle missing headers
                headers.append(f'Column {i + 1}')
        data.append(row_data)

    # Convert data into a DataFrame
    df_2020 = pd.DataFrame(data)
    # Set headers if available
    if headers:
        df_2020.columns = headers
        
# Making the proper row the column names
df_2020.columns = df_2020.iloc[1]
df_2020 = df_2020.iloc[2:].reset_index(drop=True)

# Getting rid of rows that have the column names
first_two_columns = df_2020.columns[:2]
df_2020 = df_2020[~(df_2020[first_two_columns].astype(str) == df_2020.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_2020['Season'] = '19-20'

In [54]:
# 2019 Data
# Scraping data from Barttorvik
url = 'https://barttorvik.com/trank.php?year=2019&sort=&top=0&conlimit=All#'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table')

# Process the table data
if table:
    rows = table.find_all('tr')

    data = []
    headers = []
    for row in rows:
        columns = row.find_all(['th', 'td'])
        row_data = []
        for i, col in enumerate(columns):
            row_data.append(col.get_text())
            if len(headers) < len(columns):  # Handle missing headers
                headers.append(f'Column {i + 1}')
        data.append(row_data)

    # Convert data into a DataFrame
    df_2019 = pd.DataFrame(data)
    # Set headers if available
    if headers:
        df_2019.columns = headers
        
# Making the proper row the column names
df_2019.columns = df_2019.iloc[1]
df_2019 = df_2019.iloc[2:].reset_index(drop=True)

# Getting rid of rows that have the column names
first_two_columns = df_2019.columns[:2]
df_2019 = df_2019[~(df_2019[first_two_columns].astype(str) == df_2019.iloc[:, :2].columns).all(axis=1)]

# Adding a season column
df_2019['Season'] = '18-19'

In [55]:
# Combining the 5 years of data
df_bart = pd.concat([df_2023, df_2022, df_2021, df_2020, df_2019], ignore_index=True)

In [56]:
# Cleaning the team names
df_bart['Team'] = df_bart['Team'].apply(lambda x: re.sub(r'\d.*', '', x).strip())

In [57]:
# Exctracting total wins from the record column
df_bart['Rec'] = df_bart['Rec'].apply(lambda x: re.search(r'^\d+(?=-)', x).group() if re.search(r'^\d+(?=-)', x) else x)
df_bart.rename(columns={'Rec': 'Wins'}, inplace=True)

In [58]:
# Making a losses column
df_bart['G'] = pd.to_numeric(df_bart['G'])
df_bart['Wins'] = pd.to_numeric(df_bart['Wins'])
df_bart['Losses'] = df_bart['G'] - df_bart['Wins']
columns = list(df_bart.columns)
columns.insert(5, columns.pop(columns.index('Losses')))
df_bart = df_bart[columns]

In [59]:
# Drop the WAB column
df_bart.drop(columns=['WAB'], inplace=True)

In [68]:
# Fixing the Barthag column
df_bart['Barthag'] = df_bart['Barthag'].apply(lambda x: re.search(r'\.\d{4}', str(x)).group(0) if re.search(r'\.\d{4}', str(x)) else x)

In [74]:
# Fixing the AdjOE and AdjDE columns
def keep_one_decimal(value):
    return re.sub(r'(\.\d).*', r'\1', str(value))
df_bart['AdjOE'] = df_bart['AdjOE'].apply(keep_one_decimal)
df_bart['AdjDE'] = df_bart['AdjDE'].apply(keep_one_decimal)

In [47]:
# List of columns to convert to float
columns_to_convert = [
    'AdjOE', 'AdjDE', 'Barthag', 'EFG%', 'EFGD%', 'TOR', 'TORD', 'ORB', 'DRB',
    'FTR', 'FTRD', '2P%', '2P%D', '3P%', '3P%D', '3PR', '3PRD', 'Adj T.'
]

df_bart[columns_to_convert] = df_bart[columns_to_convert].astype(float)

In [75]:
df_bart

1,Rk,Team,Conf,G,Wins,Losses,AdjOE,AdjDE,Barthag,EFG%,...,FTR,FTRD,2P%,2P%D,3P%,3P%D,3PR,3PRD,Adj T.,Season
0,1,Connecticut,BE,39,31,8,121.5,91.2,.9643,53.933,...,30.8199,37.8312,53.650,44.49,36.359,29.712,41.766,30.413,66.7200,22-23
1,2,Alabama,SEC,37,31,6,116.1,89.0,.9548,52.186,...,36.647,32.6220,53.840,40.81,33.5193,28.33,47.29,3010,72.64,22-23
2,3,Houston,Amer,37,33,4,117.3,90.3,.9532,52.379,...,28.9262,35.7285,53.160,43.45,34173,27.92,37.9160,43.5339,63.4341,22-23
3,4,UCLA,P12,37,31,6,114.9,88.5,.9528,51.1146,...,27.4305,27.572,50.6161,46.944,34.9123,31.132,29342,38.8234,66.1234,22-23
4,5,Tennessee,SEC,36,25,11,111.2,87.5,.9401,49.9210,...,30.7203,33.8245,50.3181,45.115,32.8234,26.51,40.1103,41.8317,65.1285,22-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1769,349,Alcorn St.,SWAC,27,10,17,90.2,113.4,.0669,45.7338,...,30.5248,36.5266,45333,55.3336,31.3307,32.154,36.2240,37120,65302,18-19
1770,350,New Hampshire,AE,27,5,22,84.8,107.0,.0649,44347,...,21.9352,38290,39.4351,52.1260,32.6255,33.6122,48.110,38.4173,65.7267,18-19
1771,351,Chicago St.,WAC,30,3,27,89.6,118.3,.0393,44.2346,...,33.1182,33.9210,43.5347,57.9352,30.7330,38.5337,27352,43.8320,7138,18-19
1772,352,Delaware St.,MEAC,29,6,23,85.4,113.0,.0384,40353,...,25.5327,39.2312,37.7353,52.6271,29347,34.7193,40139,39.5214,70.453,18-19
1773,353,Maryland Eastern Shore,MEAC,30,7,23,86.8,115.2,.0371,43.5350,...,28.3293,36.6269,44.5340,53.2287,27.9352,37.3311,36.2240,44324,63.7333,18-19

In [70]:
# Save the DataFrame to a CSV file
df_bart.to_csv('CBBdata19-23.csv', index=False)

In [95]:
# Still work in progress

# Scraping data from ESPN
#url = 'https://www.espn.com/mens-college-basketball/stats/team/_/view/differential/season/2023'
#headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"}
#response = requests.get(url, headers=headers)

In [96]:
# if response.status_code == 200:
#     soup = BeautifulSoup(response.content, 'html.parser')
#     table = soup.find('table', class_='Table Table--align-right')

#     if table:
#         # Extract table data
#         rows = table.find_all('tr')
#         data = []
#         for row in rows:
#             cols = row.find_all(['td', 'th'])
#             cols = [col.text.strip() for col in cols]
#             data.append(cols)

#         # Convert data to DataFrame
#         df = pd.DataFrame(data[1:], columns=data[0])
#         print(df.head())  # Display the first few rows of the DataFrame
#     else:
#         print('Table not found on the page.')
# else:
#     print('Failed to fetch the webpage.')

   GP    PTS   FGM   FGA   FG%   3PM    3PA   3P%   FTM   FTA   FT%    OR  \
0  37  +17.4  +8.1  +7.2  +9.2  +1.3   -0.1  +6.1  -0.2  -1.4  +4.3  +2.8
1  39  +14.4  +5.7  +4.8  +6.4  +4.0   +8.2  +6.5  -1.2  -2.3  +2.6  +3.7
2  36  +13.7  +4.7  +3.9  +5.5  +4.0   +8.8  +3.9  +0.1  +0.3  -0.6  +1.5
3  37  +13.5  +3.7  -1.9  +7.1  +4.4  +10.2  +5.2  +1.6  +1.8  +1.4  +0.8
4  37  +13.4  +5.9  +6.8  +5.2  -0.3   -3.2  +3.7  +1.8  +1.8  +3.3  +1.8

     DR   REB   AST   STL   BLK    TO    PF
0  +4.4  +7.2  +4.5  +2.5  +2.4  -3.6  +0.5
1  +5.5  +9.2  +8.3  -0.3  +2.1  +0.2  +0.7
2  +2.0  +3.5  +7.0  +0.5  -0.2  -2.7  -0.8
3  +6.4  +7.2  +5.1  -1.1  +1.2  +2.1  -1.1
4  +1.1  +3.0  +3.3  +3.7  +1.1  -5.6  -1.0